<h1> Welcome, <%= @user.username %> </h1>

<% @sorted_rounds.each do |deck_name, rounds| %>
<table class="responsive-table">
  <span><h2><%= deck_name %></h2></span>
  <thead>
  <tr>
    <th data-field="date">Date</th>
    <th data-field="number">Cards in Deck</th>
    <th data-field="number">First Guess Correct</th>
    <th data-field="number">Total Guesses</th>
  </tr>
  </thead>
  <tbody>
    <% rounds.each do |round| %>
  <tr>
    <td><%= round.played_at %></td>
    <td><%= round.deck.card_quantity %></td>
    <td><%= round.first_guess %></td>
    <td><%= round.total_guesses %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>
